body {
  margin: unset;
}

.show_image {
  width: 100px;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: gray;
  align-items: center;
}

.logo > img {
  width: 130px;
}

.logo {
  width: 40%;
}

.show {
  width: 23%;
}

.about,
.contact {
  width: 15%;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: gray;
}
